.popup__botao,
.botao {
  border-radius: 5rem;
  padding: 1rem 2.5rem;
  cursor: pointer;
  border: solid 2px #000;
  border-right-width: 4px;
  border-bottom-width: 4px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.92rem;
}
.popup__botao:hover,
.botao:hover {
  border-width: 2px;
}

.popup__botao--vermelho,
.botao--vermelho {
  background-color: $cor-vermelho;
  border: solid 1px $cor-preta;
  color: $cor-branca;

  & a {
    text-decoration: none;
    color: $cor-branca;

    &:hover {
      color: $cor-preta;
    }
  }
}

.popup--aberto .popup {
  display: flex;
}

.popup {
  background-image: url(../img/LOGO1-MAX.svg);
  background-size: contain;
  background-position: 40%;
  background-repeat: no-repeat;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: start;
  padding-top: 10rem;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(15px);
  z-index: 9999;

  &__conteudo {
    @include flex($justify: center);

    & p {
      font-size: 1.8rem;
      font-weight: 700;
    }
  }
}
@media (max-width: 30em) {
  .popup {
    background-size: start;
    background-position-y: 30%;
  }
}

.popup__fechar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(25%, -25%);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #fff;
  font-weight: 700;
  font-size: 1.92rem;
}
.popup__fechar:hover {
  border-width: 1px;
  color: #256783;
  border-color: #256783;
}
.popup__fechar--vermelho {
  background-color: $cor-vermelho;
  border-color: #fff;
  color: #fff;
}
.popup__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 2rem;
  padding: 3.12rem;
  position: relative;
  width: 50rem;
  background-color: #fff;
  border-radius: 2.5rem;
  box-shadow: inset 0 0 0.8rem 0.2rem rgba(0, 0, 0, 0.8);
}
@media (max-width: 30em) {
  .popup__container {
    max-width: 95%;
    padding: 2rem;
  }
}
